@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    width: 100%;
    background-color: #202225;
    font-family: "Poppins";
    color: #ffffff;
    /*overflow-x: hidden;*/
}
#nav-home{
    margin-top: 0%;
    width: 18vw;
    height: 12vh;
    background-image: url("images/home.png");
    background-size: contain;
    display: inline-block;
}

