@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    width: 100%;
    background-color: #202225;
    font-family: "Poppins";
    color: #ffffff;
}
#nav-home{
    display: inline-block;
}
#nav-bar {
    list-style: none;
    text-align: center;
}
body, html {
  height: 100%;
}
.bg {
  background-image: url("images/sky.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
