#nav-home{
    transition: 0.3s ease;
    margin-left: calc(6vh*-1);
    margin-top: -6%;
    width: 18vw;
    height: 12vh;
    background-image: url("images/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    display: inline-block;
}
#nav-home:hover{
    margin-top: 0;
